* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #e0ffffa0;
}

.navbar {
  background-color: green;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5rem;
  justify-items: right;
}

.cart-btn {
  display: flex;
  cursor: pointer;
}

.nav-icon {
  margin: 5px;
  color: #e0ffffff;
  font-size: 1.5rem;
}

.cart-items {
  margin: 5px;
  color: white;
}

.products {
  margin: 0;
  padding: 1rem;
  display: flexbox;
  justify-items: center;
}

.section-title {
  margin: 1rem;
  position: sticky;
  top: 0;
  color: darkgreen;
}

.section-title h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.products-center {
  width: 90vw;
  max-width: 1200px;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 280px;
}

@media (min-width: 700px) {
  .products-center {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (min-width: 1000px) {
  .products-center {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (min-width: 1350px) {
  .products-center {
    grid-template-columns: repeat(4, 280px);
  }
}

.product {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px darkgreen;
}

.product h3,
h4 {
  margin: 10px;
  user-select: none;
}

.img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.product-img {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.product-btn {
  font: inherit;
  font-size: medium;
  width: 100px;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 10px 2px 2px 10px;
  background-color: lightgreen;
  color: darkgreen;
  position: absolute;
  bottom: 10%;
  right: 0;
  outline: none;
  cursor: pointer;
}

.product-btn:hover {
  font-weight: bolder;
}

/* Secent Section scripts */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
  visibility: hidden;
}

.cart {
  direction: rtl;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background-color: #e0ffd0a0;
  padding: 1.5rem;
  transition: all 0.5s linear;
  transform: translateX(100%);
}

.close-cart {
  color: lightgoldenrodyellow;
}