* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #e0ffffa0;
}

.navbar {
  background-color: green;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  padding: 0 5rem;
  justify-items: right;

}

.cart-btn {
  display: flex;
}

.cart-btn:hover {
  cursor: pointer;
}

.nav-icon {
  margin: 5px;
  color: #e0ffffff;
  font-size: 1.5rem;
}

.cart-items {
  margin: 5px;
  color: white;
}

.products {
  margin: 0;
  padding: 1rem;
  display: flexbox;
  justify-items: center;
}

.section-title {
  margin: 1rem;
  position: sticky;
  top: 0;
  color: darkgreen;
}

.products-center {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.product {
  width: 350px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px darkgreen;
}

.product h3,
h4 {
  margin: 10px;
  user-select: none;
}

.img-container {
  position: relative;
  display: inline-block;
}

.product-img {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.product-btn {
  width: 90px;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: lightgreen;
  color: darkgreen;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.product-btn:hover {
  font-weight: bolder;
  cursor: pointer;
}

@media (min-width: 800px) {
  .products-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .products-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .products-center {
    grid-template-columns: repeat(4, 1fr);
  }
}